@font-face {
    font-family: "interstate";
    src: url("../fonts/interstate-bold.otf") format("opentype");
    src: url("https://github.com/DarthBorman/-able-ventures/blob/master/fonts/interstate-bold.otf") format("opentype");
    font-weight: 600;
}
